@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dosis&display=swap');
/* --heading-font: "Architects Daughter", sans-serif;
  --paragraph-font: Dosis, sans-serif; */

#content{
    max-width: 1600px;
    margin: 0 auto;
}

body{
    background-color: #FFFFFF;
    font-family: Dosis, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

/* Navigation stuf */

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    color: #0097B2;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: #0097B2;
    color: #04314E
}

header{
    background-color:rgba(4, 49, 78, 0.7);
    display: grid;
    grid-template-columns: 150px auto;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    border: #04314E solid 2px;
    background-color: white;
}

/* hero content */

#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
    
#hero-img{
    width: 100%;
}

#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 150px;
}

#hero-msg h4, #hero-msg h1{
    text-align: center;
    color: #04314E;
    text-shadow: white 2px 2px ;
}

/* main content */

.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

h2{
    margin: 0;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

main section img{
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #455E45;
}
  
.book, .join{
    background-color: #FFFFFF;
    color: #04314E;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    border: 2px solid #04314E ;
}

.book:hover, .join:hover{
    background-color: #0097B2;
    color: #04314E;
}

.home-title{
    color: #0097B2;
    font-family: "Architects Daughter", sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color: #0097B2;
}

.msg{
    background-color: #04314E;
    font-size: 1.5em;
    padding: 35px;
}

.msg h2{
    color: #FFFFFF;
    font-family: "Architects Daughter", sans-serif;
}

.msg p{
    color: #FFFFFF;
    padding-bottom: 20px;
    font-size: large;
}

.logo{
    width: 80px;
}

#logo_link{
    padding-top: 5px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

.card-img{
    border: 10px solid #04314E;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}

.mountains{
    width: 100%;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}

#background{
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364
}

.msg{
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364
}

/* footer stuf */

footer{
    background-color: #FFFFFF;
    color: #04314E;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    color: #0097B2;
    text-decoration: none;
}

footer a:hover{
    color:#04314E;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}